* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin: 0 auto;
    width: 1600px;
    height: 900px;
}

header {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

td {
    width: 20%;
    padding: 5px;
}

.alert {
    margin-bottom: 0;
}

.numbers-label {
    font-weight: bold;
    font-size: 1.5em;
}



#subject-buttons-row {
    height: 50px;
}

#subjects-list {
    width: 520px;
    height: 2em;
    border: silver 1px solid ;
}


#general-stats-row {
    height: 112px;
}


#stats-chart {
    height: 100%;
    width: 100%;
}
