* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    margin-top: 30px;
    height: 100px;
}

.content-space {
    width: 20%;
}

.content-cell {
    width: 20%;
    padding: 5px;
    height: 100px;
}

.content-cell-block {
    height: 100%;
}

h1, h3, h5 {
    text-align: center;
}

.numbers-label {
    font-size: 2em;
    font-weight: bold;
}

#subjects-list {
    margin-left: 11px;
    width: 300px;
    height: 35px
}


/* Stats by days  */
#stats-by-days-title, #stats-by-regions-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

#stats-by-day-buttons-block {
    margin-top: 5px;
}

#stats-chart {
    width: 100%; 
    height: 600px;
}
